{% extends 'admin_base.html' %}
{% block content %}
    <h1>Delete Articles</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Published Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.published_date }}</td>
                <td>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="article_id" value="{{ article.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}