    <!-- Footer -->
    <footer class="footer text-center py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <h5>Qaldirg'och</h5>
                    <p>Soaring High with the Truth</p>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="{% url 'our_team'%}">Our team</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <div class="social-icons">
                        <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <p class="mb-0">&copy; 2024 Qaldirg'och. All rights reserved.</p>
        </div>
    </footer>